@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply font-sans;
  }
}


.scrollable-div::-webkit-scrollbar {
  width: 8px;
}
.scrollable-div::-webkit-scrollbar {
  background: #f9f9f9;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}


:root {
  line-height: 1.5;

  color: #151419;
  background-color: #d7d8db;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.scrollable-div::-webkit-scrollbar {
  width: 8px;
}
.scrollable-div::-webkit-scrollbar-track {
  background: #bdc7d0;
  border-radius: 2px;
}
.scrollbar-div::-webkit-scrollbar-thumb {
  background: #ffff
}
.scrollbar-div::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6aa
}

.scrollable-div {
  scrollbar-width: thin;
  scrollbar-color: #dedddd #8b8989
}



@keyframes shimmer {
 0% {background-position: -100% 0;}
 100% {background-position: 100% 0;}
}

.skeleton {
  background: linear-gradient(
    90deg,
    #e5e7eb 25%,   /* light gray */
    #f3f4f6 50%,   /* lighter gray */
    #e5e7eb 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite linear;
}