@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Duru sans', sans-serif;
}
.scrollable-div::-webkit-scrollbar {
  width: 8px;
}
.scrollable-div::-webkit-scrollbar {
  background: #f9f9f9;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.scrollable-div::-webkit-scrollbar {
  width: 8px;
}
.scrollable-div::-webkit-scrollbar-track {
  background: #bdc7d0;
  border-radius: 2px;
}
.scrollbar-div::-webkit-scrollbar-thumb {
  background: #ffff
}
.scrollbar-div::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6aa
}

.scrollable-div {
  scrollbar-width: thin;
  scrollbar-color: #dedddd #8b8989
}